<h1>SENA</h1>
<%= link_to "Salir", destroy_user_session_path, method: :delete %>

<nav id="menu">
    <header>TRANCISIONES</header>
    <ul>
        <li><a href="#" >cursos</a></li>
        <li><a href="#">usuarios</a> </li>
        <li><a href="#">matricula</a></li>
        <li><a href="#">estado de paga</a></li>
    </ul>
    <header>medios de pago</header>
    <ul>
        <li><a href="#">credi Visa</a></li>
        <li><a href="#">credi mastercard</a></li>
    </ul>
</nav>

